{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-white text-center m-5 text-primary">website founder</h3>
 <div class="row">
<div class="col-sm-6">
<img src="{% static 'myapp/image/rk.jpg'%}" class="img-fluid" >
</div>
<div class="col-sm-6">

    <p>
        His article is about the use and knowledge of techniques and processes for producing goods, services, and outcomes. For other uses, see Technology (disambiguation).

A steam turbine with the case opened. Such turbines produce most of the electricity used today. Electricity consumption and living standards are highly correlated.[1]
Technology is the continually developing result of accumulated knowledge and application in all techniques, skills, methods, and processes used in industrial production and scientific research. Technology is embedded in the operation of all machines, with or without detailed knowledge of their function, for the intended purpose of an organization. The technologies of society consist of what is known as systems. Systems apply the intended application of a technology's accumulated knowledge by obtaining an input, altering this input for the system's intended purpose through what is known as a process, and then producing an outcome that alters the ultimate intended purpose of the system. This is also known as a technology system or technological system.

The earliest and simplest form of technology is the development of knowledge that leads to the application of basic tools towards an intended purpose. The prehistoric invention of shaped stone tools and the discovery of how to control fire and increased the sources of food that were available to human beings through the proper cooking procedures that eliminated almost all disease-causing pathogens in food sources. The event that occurred after, the Neolithic Revolution, extended the importance of this event and quadrupled the sustenance available from a usable territory through the development of farming technologies.

The invention of the wheel led to the travelling technologies that helped humans not only further increase the yield of food production over a given period, but also travel between and across territories in less time, where information could be more easily exchanged between members of society. Not only did this circumstance result in an increased total of food production and increased information exchange over large territories, but also the increased production of raw materials, such as spinning thread or yarn, through the invention of the spinning wheel. Since these raw materials can be processed into paper, the opportunity to provide information to a larger population had also become available during this period in history.
    </p>
 </div>
  </div>
</div>
{% endblock content %}
